tests/
python_packages/
.idea/
.github/
exercises/models_data/gis/hru_params.cpg
exercises/models_data/gis/hru_params.dbf
exercises/models_data/gis/hru_params.kst
exercises/models_data/gis/hru_params.prj
exercises/models_data/gis/hru_params.sbn
exercises/models_data/gis/hru_params.sbx
exercises/models_data/gis/hru_params.shp
exercises/models_data/gis/hru_params.shp.xml
exercises/models_data/gis/hru_params.shx
exercises/models_data/gis/hru_params_label.cpg
exercises/models_data/gis/hru_params_label.dbf
exercises/models_data/gis/hru_params_label.prj
exercises/models_data/gis/hru_params_label.shp
exercises/models_data/gis/hru_params_label.shp.xml
exercises/models_data/gis/hru_params_label.shx
exercises/models_data/gsflow/__run_gsflow.bat
exercises/models_data/gsflow/saghen_new_cont.control
exercises/models_data/gsflow/saghen_new_par_0.params
exercises/models_data/gsflow/saghen_new_par_1.params
exercises/models_data/gsflow/saghen_new_par_2.params
exercises/models_data/gsflow/saghen_new_par_3.params
exercises/models_data/gsflow/saghen_new_stat_var.dat
exercises/models_data/modflow/saghen.chk
exercises/models_data/prms/input/
exercises/models_data/prms/windows/sagehen_run.control
exercises/models_data/prms/windows/saghen_new_csv_output.csv
exercises/saghen_prms/examples/sagehen/dem/Fill_imgn40w1211.tfw
exercises/saghen_prms/examples/sagehen/dem/Fill_imgn40w1211.tif
exercises/saghen_prms/examples/sagehen/dem/Fill_imgn40w1211.tif.aux.xml
exercises/saghen_prms/examples/sagehen/dem/Fill_imgn40w1211.tif.xml
exercises/saghen_prms/examples/sagehen/dem/imgn40w121_13_filled.img
exercises/saghen_prms/examples/sagehen/hru_params/cascade_gw_work/
exercises/saghen_prms/examples/sagehen/model/input/__run_gsflow.bat
exercises/saghen_prms/examples/sagehen/model/model_new/
exercises/saghen_prms/examples/sagehen/shapefiles/flowdir.aux.xml
exercises/saghen_prms/examples/sagehen/shapefiles/flowdir/
exercises/saghen_prms/examples/sagehen/shapefiles/info/
exercises/saghen_prms/examples/sagehen/shapefiles/watershed.aux.xml
exercises/saghen_prms/examples/sagehen/shapefiles/watershed.dbf
exercises/saghen_prms/examples/sagehen/shapefiles/watershed.prj
exercises/saghen_prms/examples/sagehen/shapefiles/watershed.sbn
exercises/saghen_prms/examples/sagehen/shapefiles/watershed.sbx
exercises/saghen_prms/examples/sagehen/shapefiles/watershed.shp
exercises/saghen_prms/examples/sagehen/shapefiles/watershed.shx
exercises/saghen_prms/examples/sagehen/shapefiles/watershed/
exercises/saghen_prms/examples/sagehen/shapefiles/watershed_proj.dbf
exercises/saghen_prms/examples/sagehen/shapefiles/watershed_proj.prj
exercises/saghen_prms/examples/sagehen/shapefiles/watershed_proj.sbn
exercises/saghen_prms/examples/sagehen/shapefiles/watershed_proj.sbx
exercises/saghen_prms/examples/sagehen/shapefiles/watershed_proj.shp
exercises/saghen_prms/examples/sagehen/shapefiles/watershed_proj.shx
exercises/saghen_prms/notebook/.ipynb_checkpoints/
exercises/saghen_prms/notebook/jupyter1.bat
exercises/saghen_prms/notebook/notebook.zip
exercises/saghen_pyGSFLOW/.ipynb_checkpoints/
exercises/saghen_pyGSFLOW/jupyter.bat
presentations/Niswonger/Calibration_carmel.pptx
presentations/Niswonger/Carson_sca_example.pptx
presentations/Niswonger/log_rech.avi
presentations/Regan/Monday_am2.pptx
